/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

	code {
		padding: 3px 6px;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		background: #fcfcfc;
		border: 1px solid #e4e4e4;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		color: #3f8faf;
	}


/* #Basic Styles
================================================== */
	body {
		background: url(../images/bg/noise.png) repeat;
		font-size: 13px;
		line-height: 21px;
		color: #666;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
	}
 
	#wrapper {
		background: #fff;
		width: 1020px;
		margin: 0 auto;
		padding: 0;
		box-shadow:  0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	}
	
	/* Main Font */
	body, h1, h2, h3, h4, h5, h6,
	.button, input[type="button"], input[type="submit"],
	input[type="text"], input[type="password"], input[type="email"], textarea, select {
		font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	

/* Basic Alginment
================================================== */
	#wrapper img {
		height: 161px;
		width: 313px;
                margin-right: 10px;
	}
	
	.columns.google-map img {
		max-width: none;
	}

	img, object, video {
		height: auto;
		display:block;
	}
	
	img {
		width: auto;
		border: 0;
		-ms-interpolation-mode: bicubic;
	}

	/* Flexible Embeds */
	.embed {
		position: relative;
		padding: 0px;
		padding-bottom: 56.25%; /* 16/9 ratio */
		height: 0;
		overflow: hidden;
	}

	.embed iframe,
	.embed object,
	.embed embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.image-left {
		float: left;
		margin: 5px 15px 8px 0;
	}
	
	.image-right {
		float:right;
		margin: 5px 0 8px 15px;
	}
	
	.image-right,
	.image-left {
		 padding: 5px;
		 border: 1px solid #e0e0e0;
		 max-width: 100%;
		-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
		box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
	}

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #333;
		font-weight: 600;
		letter-spacing: -0.2px;
	}
	
	h2 span, h3 span {
		color: #888;
		font-weight: 200;
	}
		
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 28px; line-height: 50px; }
	h2 { font-size: 22px; line-height: 30px; }
	h3 { font-size: 16px; line-height: 34px; }
	h4 { font-size: 14px; line-height: 30px; }
	h5 { font-size: 12px; line-height: 24px; }
	h6 { font-size: 10px; line-height: 21px; }

	p { margin: 0 0 15px 0; line-height: 21px;}
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: 600; color: #333; }
	small { font-size: 80%; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited {color: #169fe6; text-decoration: none; outline: 0; -webkit-transition: color 0.1s ease-in-out; -moz-transition: color 0.1s ease-in-out; -o-transition: color 0.1s ease-in-out; -transition: color 0.1s ease-in-out;}
	a:hover, a:focus { color: #888; }
	a b, span b { font-family: Verdana, Tahoma; font-weight: normal; opacity: 0.5;}
	span b { line-height: 14px; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin: 0; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul {}
	ul ul li, ul ol li,
	ol ol li, ol ul li {}
	li { line-height: 18px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }


/* #Forms
================================================== */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #e0e0e0;
		padding: 8px 9px;
		outline: none;
		font-size: 13px;
		color: #888;
		margin: 0;
		max-width: 100%;
		display: block;
		background: #fff;
		-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
		box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
		border-radius: 2px;
		}
	select {
		padding: 0;}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #d6d6d6;
		color: #888; 
		}
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px; 
		font-weight: normal;
		margin-bottom: 5px;}
	select {
		 }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

/* =================================================================== */
/* DUBOIS GEOFFREY
====================================================================== */
li.prix, strong.prix{
	font-size: 17px;
	color: #0097be;
}

p.prix, strong.prix{
	font-size: 17px;
	color: #0097be;
}

.image_carousel {
	padding: 15px 0 15px 40px;
}

/* .caroufredsel_wrapper {
    height: 280px !important;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center !important;
}*/

.slide{
    display: block;
    position: relative;
}

.slide .info{
    display: block;
    bottom: 0;
    color:black;
    width: auto;
    background: red;
}


.image_carousel img {
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
        width: 316px;
        height: 181px;
}
.clearfix {
	float: none;
	clear: both;
}



.container h3{
}

.icon-box-container{
    width: 100%;
}

.form-group{
    margin-right: 13px;
    display: inline-block;
}

.container{
    width: inherit !important;
}

.grey{
    background: #ebeae7 !important;
}

.carrousel{
    left:0 !important;
}

.lol{
   display: block;
   float: left;
   width: 312px;
   height: 181px;
   position: relative;
   margin-right: 10px;
}

.lol:first-child{
    margin-left: 0px;
}

.info{
    display: block;
    color: black;
    bottom: -80px;
    left: 0;
    right: 0;
    position: absolute;
    width: 316px;
    height: 100px;
    text-align: center;
    border: 1px solid #dadada;
    cursor: pointer;
}

.prix{
    color: #84bc38;
    font-size: 18px;
    font-weight: bold;
}

.info:hover{
    background-color: #e5e5e5;
}

.info p{
    color: #84bc38;
    text-align: center;
    font-size: 12px;
}

.info h5{
    font-size: 16px;
    font-weight: bold
}

.slide_promo img{
    width: 100px;
}


.container.floated{
    margin-top: 30px;
}

.blank.floated{
    width: 999px !important;
    height: 413px !important;
    padding-bottom: 30px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}


#pagination {
    margin-top: 20px;
    text-align: center;
}
#pagination a {
    background: url(../images/pag.png) no-repeat transparent;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    display: inline-block;
}
#pagination a.selected {
    background: url(../images/pag_active.png) no-repeat transparent;
    cursor: default;
}
#pagination a span  {
    display: none;
}


#logo h1 a img {
	float: left;
	width: 130px !important;
	height: 130px !important;
        margin-top: -50px;
}

#logo-footer { 
    margin: 10px 0 20px 0; 
    width: 130px !important; 
    height: 130px !important; 
}

#single_carrousel img{
    width: 940px !important;
    height: 450px !important;
}

.sixteen columns .caroufredsel_wrapper{
    width: 940px !important;
    height: 450px !important;
}

a.prev2, a.next2 {
	
	width: 55px;
	height: 90px;
	display: block;
	position: absolute;
	top: 200px;
        background-color: #4c4c4c;
}
a.prev2 {			
    left: 26px;
    background: url(../images/fleche-slider.png) ;
}

a.prev2.disabled {	
    background-position: 0 -100px !important; 

}
a.next2 
{			
    right: 54px;
    background-position: -50px 0;
    background: url(../images/fleche2-slider.png) ;
}

a.next2.disabled {	
    background-position: -50px -100px !important;  

}
a.prev2.disabled, a.next2.disabled {
	cursor: default;
}

a.prev2 span, a.next2 span {
    line-height: 71px;
}

.caroufredsel_wrapper{
    height: 261px !important;
}

.sixteen .caroufredsel_wrapper{
     height: 450px !important;
}

.related-works{
    padding-bottom: 110px !important;
}

.page-title h2{
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

#breadcrumbs ul{
    padding: 0;
}

.pagination{
    width: 117px !important;
}

.post .caroufredsel_wrapper, .post img{
    height: 320px !important;
    width:  560px !important;
    margin-bottom: 23px !important;
    position: relative;
}

.post_carrousel{
    position: relative;
}

.post_carrousel a.prev2, .post_carrousel a.next2 {
	width: 18px;
	height: 30px;
	display: block;
	position: absolute;
	top: 136px;
        background-color: #4c4c4c;
}
.post_carrousel a.prev2 {	
    margin: 0;
    left: 0px;
    background: url(../images/fleche-slider.png) no-repeat ;
    background-size: 18px 30px;
}

.post_carrousel a.prev2.disabled {	
    background-position: 0 -100px !important; 

}

.post_carrousel a.next2
{			
    right: 0px;
    background-position: -50px 0;
    background: url(../images/fleche2-slider.png) ;
     background-size: 18px 30px;

}

.post_carrousel a.next2.disabled {	
    background-position: -50px -100px !important;  

}
.post_carrousel a.prev2.disabled, .post a.next2.disabled {
	cursor: default;
}

.post_carrousel a.prev2 span, .post a.next2 {
    line-height: 71px;
}

#wrapper .map img{
    width: 1020px;
    height: 450px;
}

.description p{
    margin-top: 20px;
    margin-bottom: 20px;
}

